main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  background-image: url("./assets/img2.jpg");
  background-size: cover;
  background-position: 50% 60%;
  font-size: 18px;
  overflow-y: auto;
}

.container {
  height: 100%;
  max-width: 500px;
  padding: 3rem 1.5rem;
  margin: 0;
  gap: 0;
  background-color: var(--main-color);
}

p {
  margin-bottom: 2rem;
}

.gallery {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin: 0.5rem 0;
  margin-bottom: 2rem;
}

.button-link {
  display: flex;
  padding: 8px 12px;
  border: 1px solid #000;
  color: #000;
  text-decoration: none;
}

.button-link:hover {
  background-color: #000;
  color: var(--main-color);
}

ul {
  padding-left: 1rem;
}

h2,
h3 {
  margin-bottom: 1rem;
}


@media (max-width: 900px) {
  main {
    flex-direction: column-reverse;
    background: none;
  }

  .gallery {
    max-height: 150px;
    background-image: url("./assets/img2.jpg");
    background-size: cover;
    background-position: 50% 60%;
  }

  .container {
    max-width: none;
  }
}