/* DEFAULTS */

:root {
  font-size: 16px;

  --main-color: #000;
  --link-color: #000;

  --line-size: 3px;
}

* {
  box-sizing: border-box;
  font-family: "JetBrains Mono";
  text-align: justify;
}

a {
  position: relative;

  display: inline-block;

  width: fit-content;

  border-bottom: 1px solid var(--main-color);
  color: var(--link-color);
  text-decoration: none;
}

a span {
  width: fit-content;
  padding-right: 1rem;
}

a svg {
  position: absolute;
  right: -1px;
  top: 2px;
}

h1 a span,
h2 a span,
h3 a span,
h4 a span,
h5 a span,
h6 a span {
  padding-right: 1.25rem;
}

h1 a svg,
h2 a svg,
h3 a svg,
h4 a svg,
h5 a svg,
h6 a svg {
  right: -1px;
  top: 2px;
}

hr {
  position: relative;
  overflow: visible;

  margin: 40px 0;

  width: 100%;
  height: 1px;

  background-color: var(--main-color);
}

hr::before {
  content: " ";

  position: absolute;
  top: -6px;
  left: 0;

  width: 100%;
  height: 2px;

  background-color: var(--main-color);
}

body {
  margin: 0;
  padding: 60px 0;

  display: flex;
  justify-content: center;
}

h2 {
  margin-top: 0;
  margin-bottom: 1.25rem;

  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
}

p {
  margin: 0;
}

footer {
  margin-top: 2rem;
  text-align: center;
}

details {
  border: var(--line-size) solid var(--main-color);

  padding: 0.75rem 1rem;
}

details summary {
  cursor: pointer;
}

/* CONTAINER */

.container {
  width: 100%;
  --container-padding: 1rem;
  max-width: calc(768px + var(--container-padding) * 2);
  padding: 0 var(--container-padding);

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

ul {
  margin: 0;
}

/* TABLE */

.table {
  width: 100%;
  border-spacing: 0;
  border: var(--line-size) solid var(--main-color);
}

.table tr:not(:last-child) td {
  border-bottom: var(--line-size) solid var(--main-color);
}

.table td {
  width: 0%;
  height: 38px;

  padding: 0.25rem 1rem;
}

.table td.fit-content {
  width: fit-content;
}
.table td.full-width {
  width: 100%;
}

.table td:not(:last-child) {
  border-right: var(--line-size) solid var(--main-color);
}

.table .table__title {
  font-size: 2rem;
  font-weight: 900;
}

.table .table__sub-title {
  font-size: 1rem;
}

.table .table__column-name {
  font-weight: 700;
}

.table .table__list {
  display: flex;
  gap: 1rem;
}

/* LIST */

.experience-list ul {
  list-style-type: disc;
}

.experience-list > ul {
  padding: 0;
  margin-bottom: 1rem;
  list-style-type: none;
}

.experience-list > ul > li > ul {
  list-style-type: none;
}
.experience-list > ul > li > ul > li {
  margin-bottom: 1rem;
}

.experience-list h3,
h4 {
  margin: 0;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  list-style-type: none;
}

.experience-list h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid var(--main-color);
}

.experience-list h4 span:first-child {
  font-weight: bold;
  text-transform: uppercase;
}

.experience-list h4 span:not(:first-child) {
  font-weight: 400;
}

@media (max-width: 768px) {
  .container {
    overflow: hidden;
  }

  .experience-list h4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .experience-list > ul > li > ul {
    padding-left: 0.5rem;
  }
}
